<!-- loader-->
<link href="assets/css/pace2.css" rel="stylesheet"/>
<script src="assets/js/pace.min.js"></script>
<!--Full Calendar Css-->
<link href="assets/plugins/fullcalendar/css/fullcalendar.min.css" rel='stylesheet'/>


<!-- Start wrapper-->
<div id="wrapper">
    <div>
        <div class="container-fluid">

            <div class="mt-3">
                <div id='calendar'></div>
            </div>

            <!--start overlay-->
            <div class="overlay toggle-menu"></div>
            <!--end overlay-->

        </div>
        <!-- End container-fluid-->
    </div><!--End content-wrapper-->


</div>


<!-- Full Calendar -->
<script src='assets/plugins/fullcalendar/js/moment.min.js'></script>
<script src='assets/plugins/fullcalendar/js/fullcalendar.min.js'></script>
<script src="assets/plugins/fullcalendar/js/fullcalendar-custom-script.js"></script>
